.workout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.workout {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.workout-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.workout-title {
    width: 100%;
    text-align: center;
}
.workout-title > textarea {
    width: 50%;
    text-align: center;
}

.workout-description {
    width: 100%;
    text-align: center;
}

.workout-description > textarea {
    width: 50%;
    text-align: center;
}

.workout > .card-body {
    display: flex;
}
