.workout-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: var(--body-height);
    background-color: rgb(220, 220, 220);

}

.edit-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: auto;
}

.text {
    flex: auto;
    margin: 15px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.line-stats {
    height: 25%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px;
    margin-top: 0px;
    padding: 15px;
    background-color: white;
}

.workout-stats {
    width: 25%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px;
    margin-left: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
