.navbar {
    background-color: rgb(131, 131, 131);
    height: var(--navbar-height);
}

.create-workout {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 3px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}