.round {
    margin-bottom: 10px;
}

.round > .card-body {
    display: flex;
}

.reps {
    display: flex;
    flex-direction: column;
    border-left: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin-left: 30px;
    width: 100%;
}

.add-rep {
    width: 100px;
}



