.subset {
    margin-bottom: 10px;
}

.subset > .card-header {
    width: 100%;
    display: flex;
    align-items: center;
}

.subset-header-item {
    height: 28px;
}

.subset-header-title {
    width: 50%;
    text-align: left;
}

.num-intervals-label {
    width: 15%;
    margin-left: auto;
    text-align: right;
    padding-right: 3px;
}

.num-intervals {
    width: 8%;
}

.num-intervals > input {
    text-align: center;
}